.totalCount{
  background-color: #343a40!important;
  text-align: center;
  color: white;
  padding: 0 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66);
  border-radius: 6px;
  margin-left: 1%;
  flex: 1 1 10%;

}
.totalCount-title{
margin:0;
margin-top:10px;

}
.totalCount-number{
  text-align: center;
  font-weight: 600;
  font-size:30px;
  margin:0;
}
.chart-wrapper{
  flex:0 0 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 1.5% 0 0 0.5%;
  position: relative;
}

.chart{
  width: 43vw;
  height: 400px;
  background-color: #343a40;
  padding:30px 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66);
  border-radius: 6px;
  margin:10px 0;
}
@media (max-width: 1100px) {
  .chart{
    width: 80vw;
  }
}
.user-wrapper{
  flex:0 0 90%;
  margin-top:30px;
}

.user-title{
  text-align: center;
  font-size: 30px;
  margin:0;
  font-weight: 600;
  margin:30px auto;
  width: 30%;
  background-color: #343a40!important;
  color: white;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.66);
  border-radius: 6px;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.downloadButton{
  color: white;
  background-color: #343a40;
  border: 1px solid white;
  border-radius: 5px;
  float: right;
}
.downloadButton_csv{
  color: white;
  background-color: #343a40;
  border: 1px solid white;
  border-radius: 5px;
  float: left;
} 